﻿<div id="parent">
    <div class="brd" id="block1">
        <p><b>Купить</b></p>
        <form method="post" asp-action="AddPurchase">
            <label>Цена:</label><br />
            <input type="number" name="price" /><br /><br />
            <label>Количество:</label><br />
            <input type="number" name="amount" /><br /><br />
            <label>Email:</label><br />
            <input type="text" name="email" /><br /><br />
            <input type="submit" value="Купить" />
        </form>
        <div class="brd">
            <p><b>Заявки на покупку</b></p>
            <table>
                <tr class="header">
                    <td><p>Цена</p></td>
                    <td><p>Количество</p></td>
                    <td><p>Email</p></td>
                </tr>

                @foreach (TestExchange.Context.Dtos.PurchaseOrderDto b in ViewBag.Purchases)
                {
                    <tr>
                        <td><p>@b.Price</p></td>
                        <td><p>@b.Amount</p></td>
                        <td><p>@b.Email</p></td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="brd" id="block2">
        <p><b>Продать</b></p>
        <form method="post" asp-action="AddSale">
            <label>Цена:</label><br />
            <input type="text" name="price" /><br /><br />
            <label>Количество:</label><br />
            <input type="text" name="amount" /><br /><br />
            <label>Email:</label><br />
            <input type="text" name="email" /><br /><br />
            <input type="submit" value="Продать" />
        </form>
        <div class="brd">
            <p><b>Заявки на продажу</b></p>
            <table>
                <tr class="header">
                    <td><p>Цена</p></td>
                    <td><p>Количество</p></td>
                    <td><p>Email</p></td>
                </tr>
                @foreach (TestExchange.Context.Dtos.SaleOrderDto b in ViewBag.Sales)
                {
                    <tr>
                        <td><p>@b.Price</p></td>
                        <td><p>@b.Amount</p></td>
                        <td><p>@b.Email</p></td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>
<div class="brd" id="block3">
    <p><b>Завершенные сделки</b></p>
    <table>
        <tr class="header">
            <td><p>Выполнено</p></td>
            <td><p>Дата К</p></td>
            <td><p>Дата П</p></td>
            <td><p>Цена</p></td>
            <td><p>Кол-во</p></td>
            <td><p>Email K</p></td>
            <td><p>Email П</p></td>
        </tr>

        @foreach (TestExchange.Context.Dtos.TransactionDto b in ViewBag.Transactions)
        {
            <tr>
                <td><p>@b.TransactionDate</p></td>
                <td><p>@b.PurchaseDate</p></td>
                <td><p>@b.SaleDate</p></td>
                <td><p>@b.Price</p></td>
                <td><p>@b.Amount</p></td>
                <td><p>@b.EmailBuyer</p></td>
                <td><p>@b.EmailSeller</p></td>
            </tr>
        }
    </table>
</div>